/* login.component.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.full-width {
  width: 100%;
}

/* Style the login button */
button[type="submit"] {
  background-color: #007bff; /* Your desired button color */
  color: #fff;
  font-weight: bold;
  border: none;
  width: 100%;
  margin-top: 16px;
  padding: 10px;
}

/* Hover effect */
button[type="submit"]:hover {
  background-color: #0056b3; /* Your desired hover color */
}
